* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', 'Sans-serif', 'Monospace';
    box-sizing: border-box;
}

header {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 60px;
    padding: 6px 100px 6px 100px;
    height: auto;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width:700px) {
        margin-top: 25px;
    }

    @media screen and (max-width: 1000px) {
        margin-top: 40px;
    }
}

header div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0 10px 0;
}

header div span {
    font-size: 30px;
    font-weight: 600;
}

header nav {
    display: inherit;
    align-items: center;
    gap: 40px;
}

header nav ul {
    display: inherit;
    align-items: center;
    gap: 40px;
}

header nav ul a {
    text-align: center;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}


header nav div a {
    padding: 20px 35px 20px 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 14px;
}



/*  */

.hero {

    /* border: 1px solid black; */
    display: flex;
    padding: 0 100px 0 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    max-width: 100%;
    justify-content: space-between;
}

.hero div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    min-width: 27%;
    max-width: 40%;
    justify-content: space-around;
}

.hero div h1,
.hero-small h1 {
    font-weight: 500;
    font-size: 60px;
    text-align: left;

    @media screen and (max-width: 700px) {
        font-size: 30px;
        font-weight: 700;
    }
}

.hero div article,
.hero-small article {
    font-weight: 400;
    font-size: 20px;
}

.hero div button,
.hero-small button {
    height: 68px;
    width: fit-content;
    padding: 20px 35px 20px 35px;
    border-radius: 14px;
    border: none;
    background-color: #191A23;
    color: white;
}

/* !Special Components! */

.hero-small {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    max-width: 100%;
    gap: 20px;

    @media screen and (max-width:700px) {
        gap: 10px;
        margin: 35px 0 35px 0;
    }
}

/* TODO:Responsiveness */
@media only screen and (max-width: 600px) {
    header nav img {
        display: flex;
    }

    header nav ul,
    header nav div {
        display: none;
    }

    .hero-small {
        display: flex;
        padding: 0px 10px 0px 10px;
    }

    .hero {
        display: none;
    }

    header {
        padding: 6px 10px 6px 10px;
    }

    .hero-small button {
        width: 100%;
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    header nav img {
        display: flex;
    }

    header nav ul,
    header nav div {
        display: none;
    }

    .hero-small {
        display: flex;
        padding: 0px 30px 0px 30px;
    }

    .hero {
        display: none;
    }

    header {
        padding: 6px 30px 6px 30px;
    }

    .hero-small button {
        width: 100%;
        font-size: large;
    }
}

@media only screen and (min-width: 768px) {
    header nav img {
        display: flex;
    }

    header nav ul,
    header nav div {
        display: none;
    }

    .hero-small {
        display: flex;
        padding: 0px 50px 0px 50px;
    }

    .hero {
        display: none;
    }

    header {
        padding: 6px 50px 6px 50px;
    }

    .hero-small button {
        width: 100%;
        font-size: large;
    }

}

@media only screen and (min-width: 992px) {
    header nav img {
        display: flex;
    }

    header nav ul,
    header nav div {
        display: none;
    }

    .hero-small {
        display: flex;
        padding: 0px 100px 0px 100px;
    }

    .hero-small img {
        scale: 0.8;
    }

    .hero {
        display: none;
    }

    header {
        padding: 6px 100px 6px 100px;
    }

}

@media only screen and (min-width: 1200px) {
    header nav img {
        display: none;
    }

    header nav ul,
    header nav div {
        display: flex;
    }

    .hero-small {
        display: none;
    }

    .hero {
        display: flex;
        padding: 0px 100px 0px 100px;
    }

    header {
        padding: 6px 100px 6px 100px;
    }
}


/* Hero Section Only */

.scroll-bar {
    display: flex;
    padding: 0 100px 0 100px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 70px;
    flex-flow: column wrap;
    gap: 15px;
}

#one {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18%;
}

#two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18%;
}


@media only screen and (max-width: 500px) {
    .scroll-bar {
        flex-direction: row;
        gap: 0px;
        padding: 0;
    }
    #one,
    #two {
        flex-flow: column;
    }
}

@media only screen and (max-width: 600px) {

    #one,
    #two {
        flex-flow: column;
    }

    .scroll-bar {
        flex-direction: row;
        gap: 0;
    }
}

@media only screen and (min-width: 1200px) {

    #one,
    #two {
        gap: 12%;
    }

    .scroll-bar {
        flex-flow: row nowrap;
    }
}

@media only screen and (min-width: 1370px) {
    .scroll-bar {
        flex-flow: row nowrap;
    }

    #one,
    #two {
        gap: 16%;
    }
}

/* Service Section Below */

.service-bar {
    padding: 0 100px 0 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 0 80px 0;
}

.service-bar h2 {
    background-color: #B9FF66;
    border: 7px;
    padding: 0 7px 0 7px;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
}

.service-bar article {
    font-size: 18px;
    font-weight: 400;
}

/* Sevice Boxes */

.service {
    display: flex;
    /* border: 1px solid black; */
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
    gap: 40px;
    /* justify-content: ; */
    margin-bottom: 100px;
}

.S-box {
    display: flex;
    flex-basis: 48%;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: #191A23 0 5px;
    padding: 50px;
    justify-content: space-between;
}


.learn-more {
    display: flex;
    align-items: center;
    gap: 10px;
}

.S-box-i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#l1 div h3 mark,
#l4 div h3 mark,
#l6 div h3 mark {
    font-weight: 500;
    font-size: 30px;
    border-radius: 7px;
    padding: 0 7px 0 7px;
    background-color: #B9FF66;
}

.learn-more a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #191A23;
}

#l3 a,
#l6 a {
    color: white;
}

#l2 div h3 mark,
#l3 div h3 mark,
#l5 div h3 mark {
    font-weight: 500;
    font-size: 30px;
    border-radius: 7px;
    padding: 0 7px 0 7px;
    background-color: #FFFFFF;
}

#l1,
#l4 {
    background-color: #F3F3F3;
}

#l2,
#l5 {
    background-color: #B9FF66;
}

#l3,
#l6 {
    background-color: #191A23;
}



@media only screen and (max-width: 600px) {
    .s-i{
        display: none;
    }
    .S-box-i{
        gap: 20px;
    }
    

    .service-bar {
        padding: 0 10px 0 10px;
        flex-direction: column;
    }
    .service-bar {
        text-align: center;
    }

    .service {
        padding: 0 10px 0 10px;
    }


    .S-box {
        /* flex-direction: column; */
        flex-basis: 100%;
        width: 100%;
        overflow: hidden;
    }

    

}

@media only screen and (min-width: 600px) {
    .S-box {
        flex-basis: 100%;
    }

    .service-bar {
        padding: 0 30px 0 30px;
        flex-direction: column;
    }

    .service {
        padding: 0px 30px 0 30px;
    }

}

@media only screen and (min-width: 768px) {
    .service-bar {
        padding: 0 50px 0 50px;
    }

    .service {
        padding: 0px 50px 0 50px;
    }
}

@media only screen and (min-width: 992px) {
    .service-bar {
        padding: 0 100px 0 100px;
    }

    .service {
        padding: 0px 100px 0 100px;
    }
}

@media only screen and (min-width: 1240px) {
    .service-bar {
        padding: 0 100px 0 100px;
        flex-direction: row;
    }

    .S-box {
        flex-basis: 47%;
    }

    .service {
        padding: 0px 100px 0 100px;
    }
}

@media only screen and (min-width: 1300px) {
    .S-box {
        flex-basis: 48%;
    }
}


/* Proposal Card */

.proposal {
    display: flex;
    margin: 0 100px 70px 100px;
    background-color: #F3F3F3;
    padding: 0 12% 0 60px;
    align-items: center;
    justify-content: space-between;
    border-radius: 45px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33%;
}

.text h3 {
    font-size: 30px;
    font-weight: 500;
}

.text p {
    font-size: 18px;
    font-weight: 400;
}

.text button {
    height: 68px;
    width: fit-content;
    padding: 20px 35px 20px 35px;
    border-radius: 14px;
    border: none;
    background-color: #191A23;
    color: white;
}

@media only screen and (max-width: 600px) {
    .proposal img {
        display: none;
    }

    .proposal {
        margin: 0 10px 70px 10px;
        padding: 0 20px 0 20px;
    }

    .text {

        padding: 12% 0 12% 0;
        width: 100%;
        gap: 22px;
    }

    .text button {
        width: 100%;
        padding: 10px 25px 10px 25px;
        font-size: large;
        text-overflow: clip;
    }
}

@media only screen and (min-width: 600px) {
    .proposal img {
        display: none;
    }

    .text {
        padding: 12% 0 12% 0;
        width: 100%;
        gap: 22px;
    }

    .proposal {
        margin: 0 30px 70px 30px;
    }

    .text button {
        width: 100%;
        font-size: large;
    }
}

@media only screen and (min-width: 768px) {
    .proposal {
        margin: 0 50px 70px 50px;

    }

}

@media only screen and (min-width: 992px) {
    .proposal img {
        display: flex;
    }

    .proposal {
        margin: 0 100px 70px 100px;
    }

    .text button {
        width: fit-content;
    }

    .text {
        padding: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .proposal img {
        display: flex;
    }
}


/* Case Study */

.case-study {
    margin: 70px 100px 80px 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 600px) {
        margin: 0 10px 40px 100px;
        flex-direction: column;
        text-align: center;
    }

    @media only screen and (min-width: 600px) {
        margin: 0 30px 40px 30px;
        flex-direction: column;
        text-align: center;
    }

    @media only screen and (min-width: 768px) {
        margin: 70px 50px 60px 50px;

    }

    @media only screen and (min-width: 992px) {
        margin: 70px 100px 80px 100px;
        flex-direction: row;
        text-align: left;
        flex-basis: 30%;

    }

    @media only screen and (min-width: 1200px) {}
}

.case-study h2 {
    padding: 0px 7px 0px 7px;
    opacity: 0px;
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 500;
}

.case-study p {
    flex-basis: 60%;
    font-size: 18px;
    font-weight: 400;
}

/* Studying Cases */

.study {
    display: flex;
    margin: 0 100px 70px 100px;
    padding: 70px 60px 70px 60px;
    background-color: #191A23;
    color: white;
    border-radius: 45px;
    

    @media only screen and (max-width: 600px) {
        margin: 0 10px 70px 10px;
        /* padding: 20px 15px 20px 15px; */
        flex-direction: column;

    }

    @media only screen and (min-width: 600px) {
        margin: 0 30px 25px 30px;
        padding: 25px 20px 25px 20px;
        flex-direction: column;
    }

    @media only screen and (min-width: 768px) {
        margin: 0 50px 35px 50px;
        padding: 35px 30px 35px 30px;
        flex-direction: row;

    }

    @media only screen and (min-width: 992px) {
        margin: 0 100px 70px 100px;
        padding: 70px 60px 70px 60px;
    }

    @media only screen and (min-width: 1200px) {}
}

.study-case1 {
    padding-right: 60px;
}

.study-case2 {
    padding: 0 60px 0 60px;
    border-left: 2px solid white;
    border-right: 2px solid white;

}

.study-case3 {
    padding-left: 60px;
}

.study-case1,
.study-case2,
.study-case3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.study-case1 div,
.study-case2 div,
.study-case3 div {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #B9FF66;


}

.study-case1 img,
.study-case2 img,
.study-case3 img {
    scale: 0.7;
}
@media only screen and (max-width:400px) {
    .study{
        flex-direction: column;
        padding: 25px 0 25px 0;
    
    }
    .study-case2{
        margin: 5px 5px 5px 5px;  
        /* padding: 15px 0 15px 0; */
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 0;
        border-right: 0;
    }
    .study-case1,.study-case3{
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;

    }
}


@media only screen and (max-width:770px) {
    .study{
        flex-direction: column;
    }
    .study-case2{
        margin: 15px 30px 15px 30px;  
        padding: 15px 0 15px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 0;
        border-right: 0;
    }
    .study-case1,.study-case3{
        padding: 0;
        margin-left: 30px;
        margin-right: 30px;
    }

}


/* working Process Blocks */

.process {
    margin: 70px 100px 30px 100px;
    display: flex;
    padding: 41px 60px 41px 60px;
    gap: 10px;
    border-radius: 45px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F3;
    box-shadow: #191A23 0 5px;


    @media only screen and (max-width: 600px) {
        padding: 10px 15px 12px 15px;
        margin: 0 10px 15px 10px;
        
    }
    @media only screen and (min-width: 600px) {
        margin: 0 30px 25px 30px;
        padding: 12px 22px 12px 22px;
        border: 50%;
    
    }
    @media only screen and (min-width: 768px) {
        margin: 0 50px 17px 50px;
        padding: 21px 30px 21px 30px;
    
    }
    @media only screen and (min-width: 992px) {
        margin: 0 100px 20px 100px;
        padding: 41px 60px 41px 60px;
        border: 50%;

    
    }
    @media only screen and (min-width: 1200px) {
        
    }
}

.textn{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textn h2{
    font-size: 60px;
    font-weight: 500;

}

.textn p{
    display: flex;
    font-size: 30px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .textn p{
        display: none;
    }
}

/* Team Members */


/* footer */

footer {
    /* border: 1px solid black; */
    padding: 55px 60px;
    background-color: #191A23;
    border-radius: 50px 50px 0 0;
    margin: 60px 100px 0 100px;
    height: auto;
    max-width: 100%;

    gap: 40px;

    @media screen and (max-width:700px) {
        margin-top: 25px;
    }

    @media screen and (max-width: 1000px) {
        margin-top: 40px;
    }
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.foot-logo {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0 10px 0;
}

.foot-logo span {
    font-size: 30px;
    font-weight: 600;
}

footer nav {
    color: white;
    display: inherit;
    align-items: center;
    /* padding-right: 10px; */
    /* gap: 40px; */
}

footer nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.foot nav ul a {
    text-align: center;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

#logos{
    display: flex;
    align-items: center;
    gap: 20px;
}


@media only screen and (max-width: 600px) {
    footer {
        margin: 6px 10px 0px 10px;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }
    .foot-logo{
        margin-bottom: 20px;
    }
    .foot nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #logos{
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    footer {
        margin: 6px 30px 0 30px;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }
    .foot-logo{
        margin-bottom: 20px;
    }
    .foot nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #logos{
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    footer {
        margin: 6px 50px 0 50px;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }
    .foot-logo{
        margin-bottom: 20px;
    }
    .foot nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #logos{
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    footer {
        margin: 6px 100px 0 100px;
    }
    .foot{
        flex-direction: row;
        align-items: center;
    }
    .foot-logo{
        margin-bottom: 0px;
    }
    .foot nav ul{
        flex-direction: row;
        padding: 0 10px 0 10px;
        gap: 10px;
    }
    #logos{
        display: flex;
    }
    

}

@media only screen and (min-width: 1200px) {
    footer {
        margin: 6px 100px 0 100px;
    }
    footer nav{
        gap: 40px;
    }
    .foot{
        flex-direction: row;
        align-items: center;
    }
    .foot nav ul{
        flex-direction: row;
        padding: 0 15px 0 15px;
        gap: 25px;
    }
    #logos{
        display: flex;
        gap: 20px;
    }
}

.foot-pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
}

.foot-pc form{
    padding: 60px 40px 60px 40px;
    background-color: #292A32;
    border-radius: 14px;
    display: flex;
    gap: 10px;
}

#mail-footer{
    padding: 22px 35px 22px 35px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid white;
}

#button-footer{
    background-color:#B9FF66;
    padding: 20px 35px 20px 35px;
    border-radius: 14px;
    border: none;

}

.info{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.info h3{
    padding: 0 7px 0 7px;
    background-color: #B9FF66;
    width: fit-content;
}

.info p{
    color: white;
}

@media only screen and (max-width: 600px) {
    .foot-pc{
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
    }
    .foot-pc form{
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
    }
    .info{
        align-items: center;
    }
}
@media only screen and (min-width: 600px) {
    .foot-pc{
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
    }
    .foot-pc form{
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
    }
    .info{
        align-items: center;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1020px) {
    .foot-pc form{
        flex-direction: column;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 1070px) {
    .foot-pc{
        flex-direction: row;
        width: auto;
        flex-grow: 1;
    }
    .foot-pc form{
        flex-direction: row;
        flex-grow: 1;
    }
    .info{
        align-items: left;
    }
}


/* Contact Us */

.contactUs{
    background-color: #F3F3F3;
    margin: 0 100px 140px 100px;
    display: flex;
    
    /* justify-content: space-between; */
    padding: 60px 0 80px 100px;
    border-radius: 45px;
}

.contactUs form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
}

#radua{
    display: flex;
    gap: 20px;
}

#radua-in1, #radua-in2{
    display: flex;
    gap: 5px;
}

#radua-in1 input[type="radio"], #radua-in2 input{
    accent-color :#B9FF66;
    width: 20px;
}

#putt-name input, #putt-mail input{
    border-radius: 14px;
    border: 1px solid black;
    width: 60%;
    padding: 15px;
}
#putt-mess textarea{
    border-radius: 14px;
    border: 1px solid black;
    min-width: 60%;
    max-width: 60%;
    padding: 15px;
}

#putt{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#putt-name{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#putt-mail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#putt-mess{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactUs form button{

        height: 68px;
        width: 60%;
        padding: 20px 35px 20px 35px;
        border-radius: 14px;
        border: none;
        background-color: #191A23;
        color: white;

}

@media only screen and (max-width: 600px) {
    .contactUs{
        margin: 0 10px 70px 10px;

    }

}
@media only screen and (min-width: 600px) {
    
}
@media only screen and (min-width: 768px) {
    

}

@media only screen and (max-width: 992px) {
    #putt input{
        width: 100%;
    }
    #putt-mess textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: fit-content;
    }
    .contactUs form button{
        width: 100%;
    }

    .contactUs{
        padding: 30px;
        /* gap: 0; */
    }
    .contactUs img{
        display: none;
    }

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}
